<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
		<title>Add Airport</title>
	</head>
	<body>
		<a href="/">Go Back</a>

		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

	<form action="/addAirport" method="POST">
		<input type="number" name="airportID" placeholder="Airport ID" />
		<br>
		<input type="text" name="name" placeholder="Airport Name" />
		<br>
		<input type="text" name="city" placeholder="Airport City" />
		<br>
		<input type="submit" value = "Add Airport" />
	</form>

	<ul>
</body>


</html>