<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
		<title>Add Plane</title>
	</head>
	<body>
		<a href="/">Go Back</a>

		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

	<form action="/addPlane" method="POST">
		<input type="text" name="airplaneId" placeholder="Airplane ID" />
		<br>
		<input type="number" name="seats" placeholder="Seats" />
		<br>
		<input type="text" name="airline" placeholder="Airline" />
		<br>
		<input type="submit" value = "Add Airplane" />
	</form>

	<ul>
	{% if planes %}
	{% for plane in planes %}
	<li>{{ plane }}</li>
	{% endfor %}
	</ul>
	{% endif %}
</body>


</html>