<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
		<title>Register</title>
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

		<h2>Airline Staff Registration</h2>
		<form action="/registerStaff" method="POST">
			Username: <input type="text" name = "username" placeholder="username" required/> </br>
			Password: <input type="password" name = "password" placeholder="password" required/></br>
			Password: <input type="password" name = "password2" placeholder="confirm password" required/></br>
			First Name: <input type="text" name = "firstName" placeholder="firstName" required/> </br>
            Last Name: <input type="text" name = "lastName" placeholder="lastName" required/> </br>
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob"> <br>
            Phone Number: <input type="text" name = "PhoneNumber" placeholder="Ex. 7184562298" /> </br>
            Airline: <input type="text" name = "Airline" placeholder="Ex. SouthWest" /> </br>
			<input type="submit" value = Register />
		</form>
		<br>
		<a href="/">Go back</a>
	</body>
</html>