<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
		<title>Staff</title>
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

		<h1>Hello, {{ session['username'] }}</h1>
		<a href="/viewFlights">View Flights for Airline</a>
		<br>
		<a href="/createFlight">Create Flights</a>
		<br>
		<a href="/changeStatus">Change Flight Status</a>
		<br>
		<a href="/addPlane">Add Airplane</a>
		<br>
		<a href="/addAirport">Add Airport</a>
		<br>
		<a href="/viewRatings">View Ratings</a>
		<br>
		<a href="/viewFrequent">View Frequent</a>
		<br>
		<a href="/viewReports">View Reports</a>
		<br>
		<a href="/totalRevenue">Total Revenue</a>
		<br>
		<a href="/topDestinations">View Top Destinations</a>
		<br>
		<a href="/logout">Logout</a>
		
		<!-- <form action="/register" method="POST">
			<input type="text" name = "username" placeholder="username" required/> </br>
			<input type="password" name = "password" placeholder="password" required/></br>
			<input type="password" name = "password2" placeholder="confirm password" required/></br>
			Type of User:
			<input type="radio" id="customer" name="user_type" value="customer">
			<label for="customer">Customer</label><br>
			<input type="radio" id="airlinestaff" name="user_type" value="airlinestaff">
			<label for="airlinestaff">AirlineStaff</label><br>
			<input type="submit" value = Register />
		</form> -->
		<br>
	</body>
</html>