<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
		<title>View Flights</title>
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

		<a href="/customerHome">Back</a>

		<h1>Hello {{ session['username'] }}</h1>

		{% if futureFlights %}
		<h2>Future Flights</h2>
		<ul>
			{% for flight in futureFlights %}
			<li>{{ flight }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<h2>No future flights.</h2>
		{% endif %}

		<br>

		{% if allFlights %}
		<h2>All Flights</h2>
		<ul>
			{% for flight in allFlights %}
			<li>{{ flight }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<h2>No flights.</h2>
		{% endif %}
	</body>
</html>