<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
		<title>View Flights</title>
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

		<a href="/customerHome">Back</a>

		<h1>Hello {{ session['username'] }}</h1>

		<h2>Flights</h2>
		<ul>
			{% for flight in flights %}
			<li>{{ flight }}</li>
			{% endfor %}
		</ul>
	</body>
</html>